* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --clip-color: #0180c9;
}

body {
  background: black;
  height: 100vh;
}

.clip {
  height: 300px;
  width: 100%;
  background-image: linear-gradient(to right, #0022ff, black, #ffd300);
  position: fixed;
  bottom: 0;
  animation: clip-animation 4s ease-in-out infinite;
}

@keyframes clip-animation {
  0%,
  100% {
    clip-path: polygon(
      0 40%,
      8% 45%,
      15% 51%,
      24% 55%,
      33% 54%,
      42% 49%,
      48% 38%,
      54% 28%,
      63% 27%,
      70% 28%,
      78% 34%,
      87% 40%,
      95% 43%,
      99% 42%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0 40%,
      8% 35%,
      18% 29%,
      26% 28%,
      35% 26%,
      43% 26%,
      50% 32%,
      55% 37%,
      62% 45%,
      70% 52%,
      76% 55%,
      84% 55%,
      90% 51%,
      95% 47%,
      100% 42%,
      100% 100%,
      0% 100%
    );
  }
}
